body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  text-decoration: none;
  color: #ffffff;
}

.inactive {
  color: transparent;
}

.search-title {
  font-size: 1.5rem !important;
}

.search-input {
  border-radius: 6px !important;
  border-color: #ffffff !important;
}

.homepage-wrapper {
  padding-left: 8.125rem;
}

.homepage-left {
  width: 100%;
  height: 100vh;
}

.homepage-right-section {
  width: 37%;
  background: #1b1b1b;
}

.search-field {
  padding-top: 3.375rem;
}

.navbar-mobile {
  display: none;
}

.custom-button {
  height: 2.5rem;
  border-radius: 0.25rem;
  border: none;
  width: 100%;
  font-weight: 700;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 100%;
  color: #121212;
  text-align: center;
  text-transform: uppercase;
}

.custom-button:hover {
  background: #121212;
  border: 1px solid #ffffff;
  border-radius: 0.25rem;
  color: #ffffff;
}

.search-section {
  padding-bottom: 5.438rem;
  width: 50%;
}

.search-rwd {
  gap: 1.25rem;
}

.search-wrapper-rwd {
  gap: 1.875rem;
}

.more-section {
  padding-bottom: 2.438rem;
  width: 50%;
}

.tab-section {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 0.813rem;
  cursor: pointer;
}

.active-tab {
  border-bottom: 2px solid #ffffff;
}

.inactive-tab {
  border-bottom: 2px solid #1f1f1f;
}

.active-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.inactive-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #929292;
  opacity: 0.87;
}

.follow-button {
  padding: 0.5rem 0.625rem;
  border: 1px solid #ffffff;
  background: #121212;
  border-radius: 1.25rem;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.75rem;
}

.following-button {
  padding: 0.5rem 0.625rem;
  border: 1px solid #ffffff;
  background: #ffffff;
  border-radius: 1.25rem;
  color: #121212;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.75rem;
}

.follow-button:hover {
  color: #121212;
  background: #ffffff;
}

.following-button:hover {
  color: #ffffff;
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: 7px solid transparent !important;
  border-radius: 1rem !important;
  background-clip: padding-box !important;
}

::-webkit-scrollbar {
  width: 1.2rem !important;
}

.result-wrapper {
  padding-top: 5.75rem;
  /* padding-left: 8.125rem; */
}

.result-top {
  width: 100%;
  padding-left: 5.781rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 1.983rem;
  padding-right: 1.546rem;
  padding-bottom: 1.5rem;
}

.results-title {
  font-weight: 400 !important;
  font-size: 1.875rem !important;
  line-height: 150% !important;
  letter-spacing: 0.25px !important;
}

.single-result-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.result-img {
  width: 13.688rem;
  height: 9.125rem;
}

.result-layout {
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
  padding-left: 8.188rem;
}

.result-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.125rem;
  row-gap: 3.125rem;
}

.results-perpage-rwd {
  gap: 1.25rem;
}

.results-perpagewrapper-rwd {
  gap: 1.875rem;
}

.single-result-wrapper:nth-child(6n + 1),
.single-result-wrapper:nth-child(6n + 2),
.single-result-wrapper:nth-child(6n + 3) {
  margin-bottom: -0.5935rem;
}

.single-result-wrapper:nth-child(6n + 4),
.single-result-wrapper:nth-child(6n + 5),
.single-result-wrapper:nth-child(6n + 6) {
  margin-top: -0.5935rem;
}

.tags {
  width: 100%;
  padding: 5rem 0;
}

.tags-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  max-width: 52.875rem;
  gap: 1.5rem;
}

.tags-title {
  font-weight: 400 !important;
  font-size: 1.875rem !important;
  line-height: 150% !important;
  letter-spacing: 0.016rem !important;
}

.tags-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 2.25rem;
  column-gap: 1.5rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #fff !important;
  font-family: "Ubuntu" !important;
}

.mobile-top-rwd {
  display: none;
}

.homepage-left-section {
  width: 63%;
}

@media screen and (max-width: 379px) {
  .search-section {
    padding-bottom: 4.5rem !important;
  }

  .mobile-divider-rwd {
    padding-bottom: 1rem;
  }

  .navbar-mobile {
    height: 3.125rem !important;
  }
}

@media screen and (max-width: 399px) and (min-width: 380px) {
  .mobile-divider-rwd {
    padding-bottom: 2rem;
  }

  .search-title {
    font-size: 1rem !important;
  }

  .search-wrapper-rwd {
    gap: 1rem !important;
  }

  .results-perpagewrapper-rwd {
    gap: 0.1rem !important;
  }

  .mobile-divider-rwd {
    padding-bottom: 1rem;
  }

  .navbar-mobile {
    height: 3.125rem !important;
  }
}

@media only screen and (max-width: 598px) and (min-width: 400px) {
  .mobile-divider-rwd {
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 599px) {
  .result-img-rwd {
    width: 100%;
  }

  .result-list {
    row-gap: 2.5rem;
  }

  .result-img {
    width: auto;
    height: auto;
  }

  .single-result-wrapper {
    width: 100%;
  }
  .result-list {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .result-layout {
    padding: 0 1.25rem !important;
  }
  .result-top {
    padding: 1.25rem 1.25rem 1.5rem;
  }

  .result-wrapper {
    padding-top: 0;
  }
  .mobile-top-rwd-img {
    width: 0.798rem;
    height: 1.354rem;
  }
  .mobile-top-rwd {
    display: flex;
    flex-direction: row;
    padding: 1.063rem 1.594rem;
    gap: 1.243rem;
  }

  .mobile-top-rwd-title {
    font-weight: 400 !important;
    font-size: 1.5rem !important;
    line-height: 150% !important;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .homepage-wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem !important;
  }

  .search-field {
    padding-top: 0rem;
  }

  .search-rwd {
    gap: 1rem;
  }

  .search-wrapper-rwd {
    gap: 1.75rem;
  }

  .results-perpage-rwd {
    gap: 1rem;
  }

  .results-perpagewrapper-rwd {
    gap: 1.5rem;
  }

  .homepage-right-section {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    background: rgba(24, 24, 24, 0.2);
    box-shadow: inset 0px 0.5px 0px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(27.1828px);
    height: 4.125rem;
    position: fixed;
    z-index: 2;
    width: 100%;
    bottom: 0;
    justify-content: center;
    gap: 3.625rem;
  }

  .mobile-divider {
    display: none;
  }

  .homepage-left {
    height: calc(100vh - 138px);
  }

  .search-section {
    padding-bottom: 1.5rem;
    width: 100%;
  }

  .more-section {
    padding-bottom: 1rem;
    width: 100%;
  }

  .results-home-top {
    display: flex;
    flex-direction: row;
  }

  .tags {
    padding: 0;
  }
}

@media screen and (max-width: 632px) {
  .tags-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .tags-wrapper {
    max-width: 20.35rem;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 633px) {
  .tags-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .tags-wrapper {
    max-width: 30.875rem;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
  .result-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .result-layout {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
  }

  .result-top {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
  }
}

@media only screen and (max-width: 1438px) and (min-width: 600px) {
  .homepage-wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  .tags-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .tags-wrapper {
    max-width: 41.875rem;
  }
}

@media screen and (max-width: 1439px) {
  .result-layout {
    height: auto;
    overflow: auto;
    padding-right: 8.188rem;
  }

  .homepage-left {
    width: 100%;
  }

  .homepage-left-section {
    width: 100%;
  }

  .homepage-right-section {
    display: none;
  }

  .result-overflow {
    height: auto !important;
  }

  .result-img {
    width: auto;
    height: auto;
  }

  .result-img-rwd {
    width: 100%;
  }
}
